ul{
    text-align: center;
    list-style-type: none;
    
}
li{
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 10px;
    text-align: center;
    background-color: grey;
}

h1{
    text-align: center;

}