@font-face{
    font-family:My Font; 
    src: url(../fonts/GOTHIC.TTF)
}
.navbar{
    position: fixed;
    top: 150px;
}
.navbar a, .navbar button{
    font-size: 2em;
}
.navbar a{
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}
.fdropcontent, .cdropcontent{
    font-size: 1em;
}
/* header, nav, main, footer{
    display: block;
} */
#wrapper{
    margin: 0 auto;
    word-spacing: 2em;
    width: 80%;
}
*{
    font-family: "My Font", Arial, sans-serif; 
}
.drop{
    position: relative;
    display: inline-block;
}
.dropbutton{
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    background-color: white;
}

/* FURNISHINGS SECTION START */

.fdropcontent {
display: none;
position: absolute;
background-color: #f1f1f1;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
right: 15px;
width: 200px;
}

.fdropcontent a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.fdropcontent a:hover {background-color: #ffaa80;}

.drop:hover .fdropcontent {display: block;}

/* FURNISHINGS SECTION END */

/* CAREERS SECTION START */

.cdropcontent {
display: none;
position: absolute;
background-color: #f1f1f1;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
right: -45px;
width: 250px;
}

.cdropcontent a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.cdropcontent a:hover {background-color: #ffaa80;}

.drop:hover .cdropcontent {display: block;}

/* CAREERS SECTION END */

.drop:hover .dropbutton{
/* background-color: #3f3250; */
color: #ff9966;
}

nav a:link{ color: black; }
nav a:visited{ color: black; }
nav a:hover{ color: black;}
