@font-face{
    font-family:My Font; 
    src: url(../fonts/GOTHIC.TTF)
}
header{
    background-color: solid white;
 
}
#logo{
    background-image: url(../images/Artboard\ 1.png);
    background-size: 350px 350px;
    height: 250px;
    background-repeat: no-repeat;
}
nav{
    background-color:solid white;
    
}

.navbar{
    top: 150px;
    word-spacing: 2em;
    width: 80%;
    margin: 0 auto;
    
   
}
.navbar a, .navbar button{
    font-size: 2em;
    color: #ff9966;
}
.navbar a{
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}
.fdropcontent, .cdropcontent{
    font-size: 1em;
}
/* header, nav, main, footer{
    display: block;
} */
#wrapper{
    border-top: 2px solid black;
    
}
*{
    font-family: "My Font", Arial, sans-serif; 
}
.drop{
    position: relative;
    display: inline-block;
}
.dropbutton{
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    background-color: white;
}

/* FURNISHINGS SECTION START */

.fdropcontent {
display: none;
position: absolute;
background-color: #f1f1f1;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
right: 15px;
width: 200px;
}

.fdropcontent a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.fdropcontent a:hover {background-color: #ffaa80;}

.drop:hover .fdropcontent {display: block;}

/* FURNISHINGS SECTION END */

/* CAREERS SECTION START */

.cdropcontent {
display: none;
position: absolute;
background-color: #f1f1f1;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
right: -45px;
width: 250px;
}

.cdropcontent a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.cdropcontent a:hover {background-color: #ffaa80;}

.drop:hover .cdropcontent {display: block;}

/* CAREERS SECTION END */

.drop:hover .dropbutton{
/* background-color: #3f3250; */
color: #ff9966;
}
/*  Cafe Menu Section */
#cafebox{
    float: left;

}
h1{
    font-weight: 550;
    margin-left: 10%;
    color: #ff9966;
    
}



nav a:link{ color: black; }
nav a:visited{ color: black; }
nav a:hover{ color: black;}
footer{
    position: relative;
    top: 700px;
    word-spacing: 3px;
    text-align: center;
    border-top: 2px solid #ff9966;
    
}